## <p style="background-color:#343541; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Datenbereinigung für Auto-Projekt</p>

<p align="center">
  <img src="https://www.embedded.com/wp-content/uploads/2023/03/Figure-1-Cerebrum-X.jpg" width=1300 height=350/>
</p>

<style>
.my-anchor2 {
  background-color: #343541;
  font-family: newtimeroman;
  color: White;
  font-size: 100%;
  text-align: center;
  border-radius: 10px;
}
</style>
## <a class="my-anchor2" id="content">  Content  </a>

* [Ziel](#ziel)
* [Info](#info)
***
* [Import Libraries](#lr)
* [Datensatz erkunden](#ed)
    * [Reinigungsprozess und Überprüfung der Spalten](#cp)
        * [Spalte Color](#color)
        * [Spalte Schadstoff](#sstoff)
        * [Spalte Brand](#brand)
        * [Spalte Model](#model)
        * [Spalte Price](#price)
        * [Spalte Label](#lable)
***
* [Feature Engineering](#fe) 
    * [Spalte Title](#title)
    * [Spalte Feature](#feature)
    * [Neue Spalten erstellen](#neu)
        * [Spalte KM](#km)
        * [Spalte Gearbox](#gear)
        * [Spalte Registration](#registration)
        * [Spalte Fuel](#fuel)
        * [Spalte KW](#kw)
        * [Spalte PS](#ps)
        
        
***
* [Behandlung fehlender Werte](#tm)

***
* [Auswertung](#auswertung)
***
***

## <a class="my-anchor2" id="ziel">  Ziel  </a>

* <font color="lightgreen" size="4"> Unser Ziel in diesem Notebook ist es, den mit Web-Scraping erstellten Datensatz <Br> - zu bereinigen, <Br> - neue Spalten zu erstellen, <Br> - fehlende Daten zu bekämpfen und <Br> - die Daten für die Analyse und ML-Modellierung geeignet zu machen. </font>

## <a class="my-anchor2" id="info">  Info  </a>


| Spaltenname        | Beschreibung                                     |
|--------------------|--------------------------------------------------|
| Brand              | Die Marke des Autos                              |
| Model              | Das Modell des Autos                             |
| Color              | Die Farbe des Autos                              |
| Schadstoff         | Umweltpaket type                                 |
| Price              | Der Preis des Autos                              |
| Label              | Das Etikett des Autos                            |
| title              | Der Titel des Autos                              |
| Features           | Spezifikationen des Fahrzeugs                    |

***
***

## <a class="my-anchor2" id="Ir">  Import Libraries  </a>

In [85]:
import warnings as wr
wr.filterwarnings("ignore")

import pandas as pd
import numpy as np

***

## <a class = "anchor" id = "rd"> Datensatz erkunden  </a>

* [Home](#content)

In [86]:
cars = pd.read_csv("cars.csv")

In [87]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726946 entries, 0 to 726945
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Brand       726946 non-null  object
 1   Model       726946 non-null  object
 2   title       726946 non-null  object
 3   Features    726946 non-null  object
 4   Price       726946 non-null  object
 5   Label       726946 non-null  object
 6   Color       726946 non-null  object
 7   schadstoff  726946 non-null  int64
dtypes: int64(1), object(7)
memory usage: 44.4+ MB

In [88]:
cars.head()

,Brand,Model,title,Features,Price,Label,Color,schadstoff
0,Mercedes-Benz,a-180,Mercedes-Benz A 180 Progressive LED/Sportsitze...,"['14.999 km', 'Schaltgetriebe', '05/2020', 'Be...","€ 25.900,-",Guter Preis,bc_beige,4
1,Mercedes-Benz,a-180,Mercedes-Benz A 180 Progressive LED/Sportsitze...,"['14.999 km', 'Schaltgetriebe', '05/2020', 'Be...","€ 25.900,-",Guter Preis,bc_beige,5
2,Mercedes-Benz,a-180,Mercedes-Benz A 180 Progressive LED/Sportsitze...,"['14.999 km', 'Schaltgetriebe', '05/2020', 'Be...","€ 25.900,-",Guter Preis,bc_beige,6
3,Mercedes-Benz,a-180,Mercedes-Benz A 180 Progressive LED/Sportsitze...,"['14.999 km', 'Schaltgetriebe', '05/2020', 'Be...","€ 25.900,-",Guter Preis,bc_beige,7
4,Mercedes-Benz,a-180,Mercedes-Benz A 180 Progressive LED/Sportsitze...,"['14.999 km', 'Schaltgetriebe', '05/2020', 'Be...","€ 25.900,-",Guter Preis,bc_beige,8

In [89]:
# prüfen, ob Daten fehlen
cars.isna().sum()/cars.shape[0]*100

Brand         0.0
Model         0.0
title         0.0
Features      0.0
Price         0.0
Label         0.0
Color         0.0
schadstoff    0.0
dtype: float64

In [90]:
# prüfen, ob Daten fehlen
cars.duplicated().sum()

26983

In [91]:
# doppelte Werte löschen
cars.drop_duplicates(inplace=True)

* <font color="lightgreen" size="4"> Nach der Vereinfachung der Daten, die eine Liste enthalten, können wir die sich wiederholenden Daten erneut überprüfen und entsprechend reduzieren.</font>

***

##  <a class = "anchor" id = "cp"> Reinigungsprozess und Überprüfung der Spalten </a>

* [Home](#content)



<font color="lightgreen" size="4">In diesem Abschnitt werden wir alle Spalten in unseren Daten einzeln untersuchen und sie für die Visualisierung und die ML-Algorithmen, die wir später anwenden werden, geeignet machen.</font>

###  <a class = "anchor" id = "color"> Spalte Color </a>

In [92]:
cars.Color.value_counts()

Color
bc_violet     135354
bc_weiss      135035
bc_schwarz    114995
bc_grau       105669
bc_blau        73864
bc_silber      59792
bc_rot         41836
bc_grün         8132
bc_orange       7643
bc_braun        6516
bc_gelb         6110
bc_beige        2951
bc_gold         1332
bc_bronze        734
Name: count, dtype: int64

* <font color="lightgreen" size="4">Hier ist etwas merkwürdig, denn es ist unmöglich, dass die Farbe Violett <Br> in der gleichen Menge wie die Farbe Weiß vorkommt. Als ich dies auf der Website überprüfte, stellte ich fest,  <Br> dass die Website nicht filtert, wenn Sie die Farbe Violett auf der Website auswählen. <Br>  Zumindest zum Zeitpunkt der Erstellung dieses Datensatzes habe ich festgestellt, dass es einen Fehler in dieser Hinsicht gibt.</font>

In [93]:
# Prüfen wir, ob sich Zeilen in den Daten ohne die Farbspalte wiederholen
cars.drop(columns="Color").duplicated().sum()

246268

* <font color="lightgreen" size="4">Dies beweist, dass der erwähnte Fehler vorliegt. Es ist unwahrscheinlich,<br> dass alle Informationen von 273 Tausend Autos gleich sind. Daher entfernen wir diese sich wiederholenden Zeilen aus den Daten.</font>

In [94]:
# Wir löschen die Farbspalte und dann die Wiederholungsdaten.
cars.drop(columns="Color", axis=1, inplace=True)

cars.drop_duplicates(inplace=True)

###  <a class = "anchor" id = "sstoff"> Spalte Schadstoff </a>

* [Home](#content)

In [95]:
cars.schadstoff.value_counts(dropna=0)

schadstoff
4    88386
5    88057
6    87065
7    70231
9    69204
8    50752
Name: count, dtype: int64

In [96]:
cars.drop("schadstoff", axis = 1).duplicated().sum()

325845

In [97]:
cars.drop("schadstoff", axis = 1, inplace=True)
cars.drop_duplicates(inplace=True)

###  <a class = "anchor" id = "brand"> Spalte Brand </a>

* [Home](#content)

In [98]:
cars.Brand.value_counts(dropna=0)

Brand
Volkswagen       23492
Audi             22832
Opel             18256
BMW              17952
Mercedes-Benz    16291
Skoda            14830
Ford             14197
Name: count, dtype: int64

###  <a class = "anchor" id = "model"> Spalte Model </a>

* [Home](#content)

In [99]:
# Schauen wir uns die Gesamtzahl der Automodelle nach Marken an
model_counts = cars.groupby(["Brand", "Model"]).size().reset_index(name="Model_Count")

# Drucken Sie die Anzahl der Modelle für jede Marke in einer separaten Tabelle
for brand in model_counts["Brand"].unique():
    brand_models = model_counts[model_counts["Brand"] == brand].sort_values(by="Model_Count", ascending=False)
    print(f"Marka: {brand}")
    print(brand_models[["Model", "Model_Count"]].reset_index(drop=True))
    print(30*"-")

Marka: Audi
         Model  Model_Count
0           a3         3332
1           a4         3315
2           a6         3049
3           q3         2706
4           a1         2377
5           a5         2345
6           q5         2235
7           q7         1214
8           a7          620
9           a8          578
10  a6-allroad          545
11  a4-allroad          516
------------------------------
Marka: BMW
   Model  Model_Count
0    320         2123
1    530         1903
2     x1         1880
3     x3         1749
4    520         1704
5    118         1579
6    330         1360
7     x5         1309
8     x2         1250
9    318          978
10   420          906
11   218          676
12   116          535
------------------------------
Marka: Ford
      Model  Model_Count
0     focus         3654
1      kuga         3473
2    fiesta         2947
3  ecosport         1932
4    mondeo         1406
5      edge          481
6     s-max          178
7     c-max           77
8    galaxy           49
------------------------------
Marka: Mercedes-Benz
     Model  Model_Count
0     c180         4771
1    c-220         2085
2    c-200         1814
3    e-220         1732
4    a-200         1450
5    a-180         1360
6  cla-200         1248
7    e-200         1227
8    b-180          604
------------------------------
Marka: Opel
          Model  Model_Count
0         astra         3558
1         corsa         3234
2      insignia         2521
3         mokka         2475
4   grandland-x         1913
5   crossland-x         1759
6     crossland         1410
7          adam          702
8     grandland          645
9        zafira           23
10       antara           15
11        agila            1
------------------------------
Marka: Skoda
     Model  Model_Count
0  octavia         3215
1    fabia         2931
2   superb         2499
3    kamiq         2133
4    karoq         2113
5   kodiaq         1723
6     yeti          216
------------------------------
Marka: Volkswagen
            Model  Model_Count
0            golf         4061
1          tiguan         3520
2           t-roc         3512
3  passat-variant         3355
4            polo         3335
5    golf-variant         2454
6        golf-gti         1081
7           caddy         1052
8          passat          939
9          touran          183
------------------------------

In [100]:
#Identify vehicles with less than 500 units.
cars.groupby(["Brand", "Model"]).Model.count().loc[lambda x: x < 500]

Brand       Model
Ford        c-max      77
            edge      481
            galaxy     49
            s-max     178
Opel        agila       1
            antara     15
            zafira     23
Skoda       yeti      216
Volkswagen  touran    183
Name: Model, dtype: int64

In [101]:
# Let's remove tools with low data count from the data set
delete_car_list = cars.groupby(["Brand", "Model"]).Model.count().loc[lambda x: x < 500].index.get_level_values("Model").tolist()
cars = cars[~cars["Model"].isin(delete_car_list)]

###  <a class = "anchor" id = "price"> Spalte Price </a>

* [Home](#content)

In [102]:
cars.Price.value_counts(dropna = 0)

Price
€ 19.990,-    765
€ 24.990,-    755
€ 22.990,-    710
€ 23.990,-    708
€ 29.990,-    695
             ...
€ 34.939,-      1
€ 66.633,-      1
€ 85.940,-      1
€ 91.045,-      1
€ 37.854,-      1
Name: count, Length: 15133, dtype: int64

In [103]:
# Entfernen Sie überflüssige Zeichen außer Zahlen.
import re
cars['Price'] = cars['Price'].apply(lambda x: re.sub(r'\D', '', x))
cars['Price'].value_counts(dropna=0)

Price
19990    765
24990    755
22990    710
23990    708
29990    695
        ...
34939      1
66633      1
85940      1
91045      1
37854      1
Name: count, Length: 15133, dtype: int64

In [104]:
# Ändern wir auch den Datentyp der Daten und machen sie ganzzahlig.
cars.Price = cars.Price.astype("int")

###  <a class = "anchor" id = "label"> Spalte Label </a>

* [Home](#content)

In [105]:
cars.Label.value_counts(dropna=0)

Label
Sehr guter Preis    36093
Keine Angabe        31026
Fairer Preis        27433
Guter Preis         23249
Erhöhter Preis       7608
Hoher Preis          1218
Name: count, dtype: int64

***
***

# <a class = "anchor" id = "fe"> Feature Engineering </a>

<span style="font-size: 25px;">[*Home*](#content)</span>

###  <a class = "anchor" id = "title"> Spalte Title </a>

In [106]:
cars.title.value_counts(dropna=0)

title
Ford Kuga 1.5 EcoBoost ST-LINE X                           177
Ford Focus Turnier 1.0 EcoBoost Start-Stopp-System ST-L    117
Skoda Superb Style                                         103
Volkswagen Caddy Trendline 2.0 TDI 4MOTION                  87
Skoda Superb Sportline                                      80
                                                          ...
BMW 320 dA M-Sport G20 LED/NAV/H-UP/HIFI/GSD/K-ZUG/18        1
BMW 320 i Touring Aut. AHK Standhzg. ACC 19 Zoll             1
BMW 320 d M-Paket * Navi * HUD * LED * Sitzhzg               1
BMW 320 Touring d Advantage/NAVI/LED/KEYLESS/PDC/SHZ         1
Skoda Kamiq Tour 1,0 TSI 81 KW 6-Gang/ Klima/ RFK/ Pan       1
Name: count, Length: 101861, dtype: int64

In [107]:
cars[cars.title.str.contains("Caddy")].title.value_counts()

title
Volkswagen Caddy Trendline 2.0 TDI 4MOTION                            87
Volkswagen Caddy Life KO 84 TSI SG6                                   31
Volkswagen Caddy Life KO 90 CRD SG6                                   26
Volkswagen Caddy Basis KO 75 CRD SG6                                  21
Volkswagen Caddy Life KO 90 CRD AG7                                   20
                                                                      ..
Volkswagen Caddy Life 2.0 TDI LED Navi Dig. Cockpit Bluetooth          1
Volkswagen Caddy Life 2.0 TDI Klima Alu PDC DAB GRA SHZ MFL            1
Volkswagen Caddy 2.0TDI Trendline NAVI AHK KLIMA PDC SHZ               1
Volkswagen Caddy Life TSI Klima Navi Sihei APP EPH sofort verfügba     1
Volkswagen Caddy Kasten 2.0 TDI EcoProfi BMT PDC W-LAN                 1
Name: count, Length: 591, dtype: int64

In [108]:
# Es gibt einige Unterschiede zwischen der Titelspalte und der Modellspalte, die wir überprüfen und beheben müssen.
cars[cars.title.str.contains("G 63")].Model.value_counts()

Model
c180     130
c-200      1
Name: count, dtype: int64

In [109]:
cars.Model.unique()

array(['a-180', 'a-200', 'b-180', 'c180', 'c-200', 'c-220', 'cla-200',
       'e-200', 'e-220', 'golf', 'golf-gti', 'golf-variant', 'passat',
       'passat-variant', 'tiguan', 'caddy', 't-roc', 'polo', '116', '118',
       '218', '318', '320', '330', '420', '520', '530', 'x1', 'x2', 'x3',
       'x5', 'a1', 'a3', 'a4', 'a4-allroad', 'a5', 'a6', 'a6-allroad',
       'a7', 'a8', 'q7', 'q5', 'q3', 'ecosport', 'focus', 'fiesta',
       'kuga', 'mondeo', 'astra', 'corsa', 'insignia', 'mokka', 'adam',
       'grandland', 'grandland-x', 'crossland', 'crossland-x', 'octavia',
       'fabia', 'superb', 'kodiaq', 'karoq', 'kamiq'], dtype=object)

* <font color="lightgreen" size="4">Die Werte in der Modellspalte und einige der Modellnamen in der Titelspalte stimmen nicht überein.<br> Lassen Sie uns einige Anpassungen vornehmen, um dieses Problem zu lösen. </font>

In [110]:
# Einige Werkzeuge mit dem Zeichen - im Modellnamen können ohne - in der Titelspalte geschrieben werden. 
# Lass uns einige davon überprüfen.
for m in cars.Model.unique():
    if "-" in m:
        display(cars[cars.Model==m].head(1))

,Brand,Model,title,Features,Price,Label
0,Mercedes-Benz,a-180,Mercedes-Benz A 180 Progressive LED/Sportsitze...,"['14.999 km', 'Schaltgetriebe', '05/2020', 'Be...",25900,Guter Preis

,Brand,Model,title,Features,Price,Label
9639,Mercedes-Benz,a-200,Mercedes-Benz A 200 Urban StHz/LED/Nav/Busines...,"['56.264 km', 'Schaltgetriebe', '01/2018', 'Be...",29890,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
20084,Mercedes-Benz,b-180,Mercedes-Benz B 180 CDI / d 7G-DCT Taxi,"['172.000 km', 'Automatik', '07/2018', 'Diesel...",15999,Fairer Preis

,Brand,Model,title,Features,Price,Label
46991,Mercedes-Benz,c-200,Mercedes-Benz C 200 T CGI HUD LED Burmester Na...,"['71.250 km', 'Automatik', '03/2016', 'Benzin'...",23490,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
58444,Mercedes-Benz,c-220,Mercedes-Benz C 220 T d Automatik Business EU6...,"['200.000 km', 'Automatik', '01/2019', 'Diesel...",18990,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
70644,Mercedes-Benz,cla-200,Mercedes-Benz CLA 200 *Navi*Bluetooth*Tempomat...,"['106.789 km', 'Automatik', '12/2016', 'Benzin...",19950,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
80385,Mercedes-Benz,e-200,Mercedes-Benz E 200 Lim. E 200 d 9G-Tronic Ava...,"['130.000 km', 'Automatik', '08/2020', 'Diesel...",27700,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
89272,Mercedes-Benz,e-220,Mercedes-Benz E 220 d Avantgarde TAXI *Leder| ...,"['144.359 km', 'Automatik', '12/2017', 'Diesel...",25950,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
116425,Volkswagen,golf-gti,Volkswagen Golf GTI 2.0 TSI Nav/ActiveLight/18...,"['95.935 km', 'Schaltgetriebe', '06/2017', 'Be...",21220,Fairer Preis

,Brand,Model,title,Features,Price,Label
125045,Volkswagen,golf-variant,Volkswagen Golf Variant 1.5 TSI DSG Highline E...,"['80.000 km', 'Automatik', '05/2018', 'Benzin'...",20950,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
143774,Volkswagen,passat-variant,Volkswagen Passat Variant Comfortline BMT/Star...,"['155.000 km', 'Automatik', '01/2018', 'Diesel...",13999,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
182353,Volkswagen,t-roc,Volkswagen T-Roc 1.5 TSI Style EU6d-T LED ACC ...,"['33.000 km', 'Schaltgetriebe', '08/2019', 'Be...",20950,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
369282,Audi,a4-allroad,Audi A4 allroad 2.0 TDI Quattro S-Tronic EU6 L...,"['250.000 km', 'Automatik', '05/2018', 'Diesel...",19950,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
399160,Audi,a6-allroad,Audi A6 allroad 3.0 TDi Navi Sitzhz Kamera Led...,"['117.234 km', 'Automatik', '08/2017', 'Diesel...",27950,Guter Preis

,Brand,Model,title,Features,Price,Label
606633,Opel,grandland-x,Opel Grandland X 1.5 D Business Edition Automa...,"['147.000 km', 'Automatik', '11/2019', 'Diesel...",15950,Sehr guter Preis

,Brand,Model,title,Features,Price,Label
631317,Opel,crossland-x,Opel Crossland X 1.2 PDC Sitz+Lenkheizung Klim...,"['47.500 km', 'Schaltgetriebe', '12/2018', 'Be...",12990,Sehr guter Preis

* <font color="lightgreen" size="4">Mit Ausnahme des Modells t-roc, s-max, c-max sollten wir dieses Zeichen aus den anderen Modellnamen, <Br>die mit - geschrieben werden, entfernen, ersetzen Sie es durch ein Leerzeichen und vergleichen Sie dann die Spalten Modell und Titel.<Br>Dann erstellen wir eine Spalte, in der wir die beiden Spalten vergleichen und den Unterschied untersuchen</font>

In [111]:
cars.Model = cars.Model.apply(lambda x: x if x in ["t-roc"] else x.replace("-", " "))
cars.Model = cars.Model.apply(lambda x: "c 180" if x == "c180" else x)

In [112]:
cars["model_check"] = cars.apply(lambda row: row['Model'] if row['Model'] in row['title'].lower() else row['title'], axis=1)

In [113]:
# Erstellen wir eine Spalte mit boolschen Werten, in der wir die Unterschiede zwischen den beiden Spalten untersuchen werden. 
cars['is_different'] = cars['model_check'] != cars['Model']
cars.is_different.value_counts()

is_different
False    121979
True       4648
Name: count, dtype: int64

In [114]:
cars[cars.is_different==True]

,Brand,Model,title,Features,Price,Label,model_check,is_different
26675,Mercedes-Benz,c 180,Mercedes-Benz E 200 Lim. E 200 d 9G-Tronic Ava...,"['130.000 km', 'Automatik', '08/2020', 'Diesel...",27700,Sehr guter Preis,Mercedes-Benz E 200 Lim. E 200 d 9G-Tronic Ava...,True
26676,Mercedes-Benz,c 180,Mercedes-Benz G 400 AMG Manufaktur Night Super...,"['3.500 km', 'Automatik', '01/2023', 'Diesel',...",181989,Keine Angabe,Mercedes-Benz G 400 AMG Manufaktur Night Super...,True
26677,Mercedes-Benz,c 180,Mercedes-Benz C 250 AMG Line Autom.,"['182.000 km', 'Automatik', '01/2016', 'Benzin...",21700,Sehr guter Preis,Mercedes-Benz C 250 AMG Line Autom.,True
26678,Mercedes-Benz,c 180,Mercedes-Benz C 220 d 4MATIC 2XAMG PAKET,"['209.000 km', 'Automatik', '07/2018', 'Diesel...",21999,Sehr guter Preis,Mercedes-Benz C 220 d 4MATIC 2XAMG PAKET,True
26679,Mercedes-Benz,c 180,Mercedes-Benz E 300 de TAXI LIMO EQ WIDESCREEN...,"['184.400 km', 'Automatik', '07/2019', 'Elektr...",21999,Keine Angabe,Mercedes-Benz E 300 de TAXI LIMO EQ WIDESCREEN...,True
...,...,...,...,...,...,...,...,...
46628,Mercedes-Benz,c 180,Mercedes-Benz GLA 250 Progressive MBUX/Pano/LE...,"['16.400 km', 'Automatik', '03/2021', 'Benzin'...",46990,Fairer Preis,Mercedes-Benz GLA 250 Progressive MBUX/Pano/LE...,True
46629,Mercedes-Benz,c 180,Mercedes-Benz EQB 250 EasyPack/KeylessGo/360°/...,"['3.000 km', 'Automatik', '02/2023', 'Elektro'...",53880,Guter Preis,Mercedes-Benz EQB 250 EasyPack/KeylessGo/360°/...,True
46631,Mercedes-Benz,c 180,Mercedes-Benz CLA 35 AMG Mercedes-AMG CLA35 Pa...,"['19.374 km', 'Automatik', '01/2021', 'Benzin'...",57890,Guter Preis,Mercedes-Benz CLA 35 AMG Mercedes-AMG CLA35 Pa...,True
46633,Mercedes-Benz,c 180,Mercedes-Benz A 200 Edition Abstandstemp. LED ...,"['9.500 km', 'Automatik', '11/2022', 'Benzin',...",41550,Erhöhter Preis,Mercedes-Benz A 200 Edition Abstandstemp. LED ...,True
46635,Mercedes-Benz,c 180,Mercedes-Benz CLA 250 e AMG+PANO+DISTRONIC+MUL...,"['9.000 km', 'Automatik', '04/2023', 'Elektro/...",52450,Keine Angabe,Mercedes-Benz CLA 250 e AMG+PANO+DISTRONIC+MUL...,True

In [115]:
# Wir wollen sehen, welche Marken mehr Probleme haben
cars[cars.is_different==True].Brand.value_counts()

Brand
Mercedes-Benz    4648
Name: count, dtype: int64

In [116]:
# Sehen wir uns nun das problematische Modell an
cars[(cars.is_different==True) & (cars.Brand=="Mercedes-Benz")].Model.value_counts()

Model
c 180    4648
Name: count, dtype: int64

* <font color="lightgreen" size="4">Prüfen wir, ob es ein anderes Modell gibt als die Modelle, die wir bei der Erstellung der Daten angegeben haben.<br> Wenn es nach diesem Vorgang Daten gibt, die wir nicht wollen, können wir diese Daten aus den Daten entfernen.</font>

In [117]:
# Erstellen wir eine Liste der Mercedes-Modelle
mercedes_models = cars[cars.Brand=="Mercedes-Benz"].Model.unique().tolist()
mercedes_models

['a 180',
 'a 200',
 'b 180',
 'c 180',
 'c 200',
 'c 220',
 'cla 200',
 'e 200',
 'e 220']

In [118]:
# In der soeben erstellten Spalte model_check können wir die Werkzeuge in unserer Liste festlegen.
def replace_model(x):
    for item in mercedes_models:
        if item.upper() in x:
            return item
    return x

cars.loc[cars.is_different == True, 'model_check'] = cars.loc[cars.is_different == True, 'model_check'].apply(replace_model)

In [119]:
# Wir fanden heraus, dass Modelle, die wir nicht wollten, in den Daten gefangen waren.
cars[cars.Brand=="Mercedes-Benz"].model_check.value_counts().sort_values(ascending=False).head(30)

model_check
c 220                                                                       2323
c 200                                                                       2030
e 220                                                                       1900
a 200                                                                       1856
a 180                                                                       1581
e 200                                                                       1376
cla 200                                                                     1248
b 180                                                                        664
c 180                                                                        123
Mercedes-Benz C 300 EXCLUSIVE/Navi/AHK/Spur/ILS-LED/FS-Memory Autom.           5
Mercedes-Benz CLA 250 4M SB AMG Line+Night+HUD+Distron+DAB+19"                 4
Mercedes-Benz GLC 300 4M Coupé AMG Navi Distro AHK SHD MBUX                    4
Mercedes-Benz E 300 Coupé AMG Line 2x+Comand+360°+Multib+Distr                 4
Mercedes-Benz E 300 de TAXI LIMO EQ WIDESCREEN/STDHZG/LED/NAVI                 4
Mercedes-Benz AMG GT 63  Cp. 4M Keramik Burmester 3D AeroPak SHD               3
Mercedes-Benz G SL 43 AMG SPEEDSHIFT MCT 9G                                    3
Mercedes-Benz CLA 250 SB AMG Line+Night+volldigi+Kam+Pano+19"                  3
Mercedes-Benz EQA 250 LED Kamera Laderaump Spurhalt-Ass PTS Temp               3
Mercedes-Benz GLA 250 DCT 4Matic AMG Line Pano LED Nav Kam360                  3
Mercedes-Benz G 63 AMG Sportpaket COMAND AHK Distronic Leder PTS               3
Mercedes-Benz GLA 220 d 4M Progressive Leder MBeam Pano Burm.                  3
Mercedes-Benz A 250 e AMG Sport LED Navi Spurh.-Ass. DAB SH                    3
Mercedes-Benz A 250 e Progressive LED Kamera Spurhalt-Ass PTS                  3
Mercedes-Benz A 45 AMG A 45 S 4M Lim Kompakt Drivers+Pano+360°+MultiBeam       3
Mercedes-Benz B 200 Progressive LED AHK Laderaump Spurhalt-Ass                 2
Mercedes-Benz CLA 250 e SB AMG Burmester 360°Kam HUD Multibeam                 2
Mercedes-Benz A 250 e AMG Multibeam Night Keyl-GO Kamera PTS                   2
Mercedes-Benz E 350 e Avantgarde*AHK*AUTOMATIK*TEILLEDER*LED*                  2
Mercedes-Benz C 250 Dist+Asist/AHK/St.Hzg/Sitzbelüf/Burmester/Keyle            2
Mercedes-Benz CLA 220 Coupé 4M AMG Line+Night+LED+Kam+NaviPrem                 2
Name: count, dtype: int64

In [120]:
# Wir filtern nach den Werten in der Spalte "model", aber nicht in der Spalte "model_check", 
# und entfernen die Zeilen, die wir nicht haben wollen, aus den Daten.
cars = cars[cars['model_check'].isin(cars.Model.unique())]

* <font color="lightgreen" size="4"> Wir haben die gewünschten Operationen auf dieser Spalte durchgeführt.<Br> Jetzt können wir die neu erstellten "model_check" und "is_different" Spalten aus den Daten entfernen.<Br> Die "title" Spalte werden wir jedoch in den Daten behalten.<Br><Br>
Es gibt etwa 102.873 verschiedene Werte in dieser Spalte, aus denen einige Daten extrahiert werden können,<Br> die den Preis beeinflussen können. Es ist jedoch schwierig, ein Muster zu finden, da es sich um einen Bereich handelt,<Br> in dem Benutzer angemeldet sind. Daher kann ein Bereich, in dem der Benutzer aktiv ist, die Daten falsch manipulieren.<Br> Lassen Sie diese Spalte daher in unserer ML-Anwendung unverändert.</font>

In [121]:
cars.drop(["model_check", "is_different"], axis=1, inplace=True)

### <a class = "anchor" id = "feature"> Spalte Feature </a>

* [Home](#content)

In [122]:
cars.Features.value_counts()

Features
['- km', 'Automatik', '- (Erstzulassung)', 'Benzin', '206 kW (280 PS)', '170 g/km (komb.) | 7,4 l/100 km (komb.)']        49
['- km', 'Automatik', '- (Erstzulassung)', 'Benzin', '140 kW (190 PS)', '135 g/km (komb.) | 5,9 l/100 km (komb.)']        42
['- km', 'Automatik', '- (Erstzulassung)', 'Benzin', '110 kW (150 PS)', '131 g/km (komb.) | 5,7 l/100 km (komb.)']        39
['- km', 'Automatik', '- (Erstzulassung)', 'Diesel', '110 kW (150 PS)', '112 g/km (komb.) | 4,3 l/100 km (komb.)']        38
['- km', 'Automatik', '- (Erstzulassung)', 'Diesel', '147 kW (200 PS)', '127 g/km (komb.) | 4,8 l/100 km (komb.)']        36
                                                                                                                          ..
['169.955 km', 'Automatik', '03/2016', 'Diesel', '140 kW (190 PS)', '118 g/km (komb.) | 4,5 l/100 km (komb.)']             1
['30.594 km', 'Schaltgetriebe', '06/2017', 'Benzin', '135 kW (184 PS)', '145 g/km (komb.) | 6,1 l/100 km (komb.)']         1
['45.200 km', 'Automatik', '09/2017', 'Diesel', '140 kW (190 PS)', '114 g/km (komb.) | 4,3 l/100 km (komb.)']              1
['94.427 km', 'Automatik', '10/2017', 'Diesel', '140 kW (190 PS)', '106 g/km (komb.) | 4 l/100 km (komb.)']                1
['0 km', 'Schaltgetriebe', '- (Erstzulassung)', 'Benzin', '81 kW (110 PS)', '111 g/km (komb.) | 5,6 l/100 km (komb.)']     1
Name: count, Length: 107468, dtype: int64

* <font color="lightgreen" size="4"> In der Spalte Merkmale finden Sie verschiedene Informationen, die wir verwenden können.</font>

In [123]:
# Lassen Sie uns zunächst die Listenstrukturen innerhalb der Spalte überprüfen und versuchen, ein Muster zu finden.
cars.Features[0]

"['14.999 km', 'Schaltgetriebe', '05/2020', 'Benzin', '100 kW (136 PS)', '136 g/km (komb.) | 6 l/100 km (komb.)']"

In [124]:
cars[cars.Features.str.contains("Laufzeit")].Features.value_counts()

Features
['€ 0,- Anzahlung', '48 Monate Laufzeit', '10.000 km/Jahr', '10 km', 'Automatik', '- (Erstzulassung)', 'Diesel', '210 kW (286 PS)', '133 g/km (komb.) | 5,1 l/100 km (komb.)']       18
['€ 0,- Anzahlung', '60 Monate Laufzeit', '10.000 km/Jahr', '10 km', 'Automatik', '03/2023', 'Benzin', '110 kW (150 PS)', '134 g/km (komb.) | 5,8 l/100 km (komb.)']                 18
['€ 0,- Anzahlung', '60 Monate Laufzeit', '10.000 km/Jahr', '1.000 km', 'Automatik', '04/2023', 'Benzin', '110 kW (150 PS)', '114 g/km (komb.) | 5 l/100 km (komb.)']                15
['€ 0,- Anzahlung', '60 Monate Laufzeit', '10.000 km/Jahr', '10 km', 'Automatik', '04/2023', 'Benzin', '110 kW (150 PS)', '114 g/km (komb.) | 5 l/100 km (komb.)']                   14
['€ 0,- Anzahlung', '48 Monate Laufzeit', '10.000 km/Jahr', '10 km', 'Automatik', '- (Erstzulassung)', 'Benzin', '110 kW (150 PS)', '127 g/km (komb.) | 5,6 l/100 km (komb.)']       12
                                                                                                                                                                                     ..
['€ 0,- Anzahlung', '42 Monate Laufzeit', '10.000 km/Jahr', '12.418 km', 'Automatik', '08/2021', 'Diesel', '110 kW (150 PS)', '999 g/km (komb.) | 99,9 l/100 km (komb.)']             1
['€ 0,- Anzahlung', '48 Monate Laufzeit', '10.000 km/Jahr', '12.100 km', 'Automatik', '01/2022', 'Benzin', '150 kW (204 PS)', '145 g/km (komb.) | 6,4 l/100 km (komb.)']              1
['€ 0,- Anzahlung', '60 Monate Laufzeit', '10.000 km/Jahr', '5.594 km', 'Automatik', '05/2022', 'Benzin', '100 kW (136 PS)', '114 g/km (komb.) | 4,9 l/100 km (komb.)']               1
['€ 0,- Anzahlung', '60 Monate Laufzeit', '10.000 km/Jahr', '33.100 km', 'Automatik', '08/2021', 'Diesel', '110 kW (150 PS)', '115 g/km (komb.) | 4,3 l/100 km (komb.)']              1
['€ 0,- Anzahlung', '48 Monate Laufzeit', '10.000 km/Jahr', '10 km', 'Schaltgetriebe', '- (Erstzulassung)', 'Benzin', '70 kW (95 PS)', '123 g/km (komb.) | 5,4 l/100 km (komb.)']     1
Name: count, Length: 1313, dtype: int64

* <font color="lightgreen" size="4"> In einigen Spalten befinden sich Informationen, die für uns nicht von Nutzen sind.<br> Wenn wir diese Informationen aus diesen Spalten entfernen, können wir leichter neue Spalten nach<br> unseren Wünschen aus der Spalte "Merkmale" erstellen.</font>

In [125]:
# Wir können die Werte in einer Spalte in eine Liste umwandeln, so dass wir auf die Listenelemente zugreifen und neue Spalten erstellen können.
cars.Features = cars.Features.apply(lambda x: eval (x))

In [126]:
# Die ersten 3 Elemente von etwa 1319 der Daten in den Zellen sind mit Informationen gefüllt, die wir nicht brauchen. 
# Lassen wir diese Elemente weg und konvertieren wir die gesamte Spalte in dieselbe Struktur.
cars.Features = cars.Features.apply(lambda x: x[3:] if "Laufzeit" in str(x) else x)

* <font color="lightgreen" size="4">In dieser Spalte können wir Informationen wie Kilometerstand, Motor und Kraftstofftyp verwenden. Wir können neue Spalten mit diesen Informationen erstellen.</font>

## <a class = "anchor" id = "neu"> Neue Spalten </a>

[Home](#content)

In [127]:
cars["km"] = cars.Features.apply(lambda x: x[0])
cars["gearbox"]= cars.Features.apply(lambda x: x[1])
cars["registiration"] = cars.Features.apply(lambda x: x[2])
cars["fuel"] = cars.Features.apply(lambda x: x[3])
cars["kw"] = cars.Features.apply(lambda x: x[4][:-8] if "kW" in x[4] else np.nan)
cars["ps"] = cars.Features.apply(lambda x: x[4][-8:] if "PS" in x[4] else np.nan)


cars.head()

,Brand,Model,title,Features,Price,Label,km,gearbox,registiration,fuel,kw,ps
0,Mercedes-Benz,a 180,Mercedes-Benz A 180 Progressive LED/Sportsitze...,"[14.999 km, Schaltgetriebe, 05/2020, Benzin, 1...",25900,Guter Preis,14.999 km,Schaltgetriebe,05/2020,Benzin,100 kW,(136 PS)
7,Mercedes-Benz,a 180,Mercedes-Benz A 180 7G-DCT Style NAV+LED+SHZ+DAB+,"[46.750 km, Automatik, 11/2019, Benzin, 100 kW...",24749,Sehr guter Preis,46.750 km,Automatik,11/2019,Benzin,100 kW,(136 PS)
8,Mercedes-Benz,a 180,"Mercedes-Benz A 180 ""Advanced"" AMG+PREMIUM+KAM...","[6.560 km, Automatik, 11/2022, Benzin, 100 kW ...",32995,Keine Angabe,6.560 km,Automatik,11/2022,Benzin,100 kW,(136 PS)
9,Mercedes-Benz,a 180,"Mercedes-Benz A 180 AMG Line Limo., MBUX High ...","[16.749 km, Automatik, 01/2021, Benzin, 100 kW...",31500,Fairer Preis,16.749 km,Automatik,01/2021,Benzin,100 kW,(136 PS)
10,Mercedes-Benz,a 180,Mercedes-Benz A 180 AMG+NIGHT+KAMERA+LED+MBUX-...,"[6.900 km, Automatik, 11/2022, Benzin, 100 kW ...",33475,Keine Angabe,6.900 km,Automatik,11/2022,Benzin,100 kW,(136 PS)

In [128]:
# Die Spalte Features wird nicht mehr benötigt, sie kann aus den Daten entfernt werden.
cars.drop("Features", axis=1, inplace=True)

### <a class = "anchor" id = "km"> Spalte KM </a>

[Home](#content)

In [129]:
cars.km.value_counts(dropna=0)

km
10 km         4095
0 km          2871
- km          1278
50 km          741
20 km          578
              ...
54.650 km        1
93.782 km        1
100.290 km       1
55.380 km        1
1.779 km         1
Name: count, Length: 43626, dtype: int64

In [130]:
cars[cars.km=="- km"]

,Brand,Model,title,Price,Label,km,gearbox,registiration,fuel,kw,ps
10360,Mercedes-Benz,a 200,Mercedes-Benz A 200 DCT AMG Line SHZ MBeam Par...,50990,Keine Angabe,- km,Automatik,- (Erstzulassung),Benzin,120 kW,(163 PS)
50596,Mercedes-Benz,c 200,Mercedes-Benz C 200 Lim. 4Matic Avantgarde Mem...,54990,Keine Angabe,- km,Automatik,- (Erstzulassung),Benzin,150 kW,(204 PS)
63857,Mercedes-Benz,c 220,Mercedes-Benz C 220 d 4MATIC AMG LINE NIGHTPAC...,77900,Keine Angabe,- km,Automatik,- (Erstzulassung),Diesel,147 kW,(200 PS)
93730,Mercedes-Benz,e 220,Mercedes-Benz E 220 d 9G-TRONIC,51900,Keine Angabe,- km,Automatik,- (Erstzulassung),Diesel,147 kW,(200 PS)
101853,Volkswagen,golf,Volkswagen Golf 8 1.5 TSI Winterpak. SOFORT,26380,Keine Angabe,- km,Schaltgetriebe,- (Erstzulassung),Benzin,110 kW,(150 PS)
...,...,...,...,...,...,...,...,...,...,...,...
720450,Skoda,kamiq,Skoda Kamiq Tour 95 PS/ LM FELGEN/SHZ/GARANTIE,23491,Keine Angabe,- km,Schaltgetriebe,- (Erstzulassung),Benzin,70 kW,(95 PS)
720451,Skoda,kamiq,Skoda Kamiq Tour 1.0 TSI/ 95 PS/EPH/GARANTIE,23691,Keine Angabe,- km,Schaltgetriebe,- (Erstzulassung),Benzin,70 kW,(95 PS)
720460,Skoda,kamiq,"Skoda Kamiq ACTIVE 1,0 TSI/95 PS/SMARTLINK/SHZ",21980,Keine Angabe,- km,Schaltgetriebe,- (Erstzulassung),Benzin,70 kW,(95 PS)
720529,Skoda,kamiq,Skoda Kamiq 1.0 TSI Monte Carlo Navi/Pano/5 Jahre,27990,Keine Angabe,- km,Schaltgetriebe,- (Erstzulassung),Benzin,81 kW,(110 PS)
724834,Skoda,kamiq,Skoda Kamiq 1.0 TSI Tour 25950.-bei Inzahlungn...,26750,Keine Angabe,- km,Schaltgetriebe,- (Erstzulassung),Benzin,81 kW,(110 PS)

* <font color="lightgreen" size="4">Bei der Untersuchung des Standorts haben wir festgestellt,<br> dass diese Fahrzeuge 0 km lang sind, so dass wir diesen Wert auf 0 ändern können.</font>

In [131]:
# Lassen wir die Zahlen stehen und entfernen wir die restlichen Zeichen aus der Spalte.
cars.km = cars.km.apply(lambda x: re.sub(r'\D', '', x) if "- km" not in x else 0)
cars.km.value_counts(dropna=0)

km
10        4095
0         2871
0         1278
50         741
20         578
          ...
54650        1
93782        1
100290       1
55380        1
1779         1
Name: count, Length: 43626, dtype: int64

In [132]:
cars[cars.km== "0"].km.value_counts()

km
0    2871
Name: count, dtype: int64

In [133]:
# Da es sich bei den bereits in den Daten vorhandenen Nullen um String-Werte handelt, 
# wurden zwei separate 0-Werte erstellt. Ändern wir nun den Datentyp der Spalte.
cars.km = cars.km.astype("int")
cars.km.value_counts(dropna=0)

km
0         4149
10        4095
50         741
20         578
15         552
          ...
54650        1
93782        1
100290       1
55380        1
1779         1
Name: count, Length: 43625, dtype: int64

### <a class = "anchor" id = "gear"> Spalte Gearbox </a>

[Home](#content)

In [134]:
cars.gearbox.value_counts(dropna=0)

gearbox
Automatik         81027
Schaltgetriebe    42242
- Getriebe          149
Halbautomatik        19
Name: count, dtype: int64

In [135]:
# Wir können auch die Spalte Label beschriften.
cars.gearbox = cars.gearbox.replace("- Getriebe", "Schaltgetriebe")
cars.gearbox.value_counts(dropna=0)

gearbox
Automatik         81027
Schaltgetriebe    42391
Halbautomatik        19
Name: count, dtype: int64

### <a class = "anchor" id = "registration"> Spalte Registration </a>

[Home](#content)

In [136]:
cars.registiration.value_counts(dropna=0)

registiration
- (Erstzulassung)    7704
03/2022              2693
02/2022              2678
06/2022              2622
05/2022              2405
                     ...
05/2023               312
02/2015               301
08/2015               296
01/2015               277
08/2023                 6
Name: count, Length: 103, dtype: int64

In [137]:
# Trennen Sie die Werte für Jahr und Monat in getrennte Spalten. Dies wird die Verwendung in zukünftigen Modellen effizienter machen.
cars['reg_month'] = cars['registiration'].apply(lambda x: x.split('/')[0] if x != "- (Erstzulassung)" else 0)
cars['reg_year'] = cars['registiration'].apply(lambda x: x.split('/')[1] if x != "- (Erstzulassung)" else 0)

print(cars['reg_month'].value_counts())
print(cars['reg_year'].value_counts())

reg_month
03    13059
02    11118
01    10617
11     9680
06     9599
04     9590
12     9440
07     9326
10     8750
05     8634
08     8036
09     7884
0      7704
Name: count, dtype: int64
reg_year
2022    24450
2019    20915
2021    19261
2020    17680
2018    11437
0        7704
2017     6598
2023     5920
2016     5132
2015     4340
Name: count, dtype: int64

### <a class = "anchor" id = "fuel"> Spalte Fuel </a>

[Home](#content)

In [138]:
cars.fuel.value_counts(dropna=0)

fuel
Benzin            66225
Diesel            50162
Elektro/Benzin     6204
Elektro/Diesel      334
Erdgas (CNG)        231
Elektro             167
Sonstige             81
Autogas (LPG)        21
- Kraftstoff         12
Name: count, dtype: int64

* <font color="lightgreen" size="4">In dieser Rubrik gibt es einige Unklarheiten. Zum Beispiel werden einige Fahrzeuge<br> als Benziner oder Diesel eingetragen, obwohl sie Hybridfahrzeuge sind. Das ist verständlich, wenn man sich die<br> Titelspalte ansieht. Ähnliche Fehler gibt es auch bei einigen Elektroautos. In Zukunft müssen wir<br> jedoch einen Kategorisierungsprozess durchführen, um diese Spalte sowohl für Visualisierungs-<br> als auch für ML-Anwendungen effizienter nutzen zu können.</font>

In [139]:
# Dieses Auto, das eigentlich ein Gasauto ist, hat in einigen Werten in der Kraftstoffspalte "Sonstige".
# In anderen ist es als "Benzin" aufgeführt. Diese Autos sollten eigentlich in die Kategorie der Gasautos fallen.
cars[cars.title.str.contains("ERDGAS")]

,Brand,Model,title,Price,Label,km,gearbox,registiration,fuel,kw,ps,reg_month,reg_year
104979,Volkswagen,golf,Volkswagen Golf VII *ERDGAS/BENZIN* PAN-DACH *...,19980,Sehr guter Preis,56000,Automatik,10/2019,Benzin,96 kW,(131 PS),10,2019
110362,Volkswagen,golf,Volkswagen Golf VII *ERDGAS/BENZIN *3x vorhand...,18980,Sehr guter Preis,68000,Automatik,10/2019,Benzin,96 kW,(131 PS),10,2019
357564,Audi,a4,Audi A4 g-tron design Avant (8W5) ERDGAS + Be...,22900,Fairer Preis,110900,Automatik,06/2018,Benzin,125 kW,(170 PS),06,2018
375886,Audi,a5,Audi A5 SPORT*S-LINE*G-TRON-ERDGAS*LED*LEDER*TOP,26970,Sehr guter Preis,73220,Automatik,08/2018,Benzin,125 kW,(170 PS),08,2018
375887,Audi,a5,Audi A5 SPORT*S-LINE*G-TRON-ERDGAS-CNG*LED*LED...,26970,Sehr guter Preis,73220,Automatik,08/2018,Erdgas (CNG),125 kW,(170 PS),08,2018
718074,Skoda,kamiq,Skoda Kamiq 1.0 CNG G-TEC ERDGAS STYLE LED PAN...,17790,Keine Angabe,46043,Schaltgetriebe,03/2021,Erdgas (CNG),66 kW,(90 PS),03,2021

In [140]:
# Ordnen wir diese Fahrzeuge der Kategorie "GAS" innerhalb der Kraftstoffart zu.
cars.fuel = cars.apply((lambda row: "Gas" if "ERDGAS" in row["title"] else row["fuel"]), axis=1)
cars.fuel = cars.fuel.replace({"Erdgas (CNG)":"Gas", "Autogas (LPG)":"Gas"})
cars.fuel.value_counts()

fuel
Benzin            66221
Diesel            50162
Elektro/Benzin     6204
Elektro/Diesel      334
Gas                 256
Elektro             167
Sonstige             81
- Kraftstoff         12
Name: count, dtype: int64

In [141]:
# Wenn wir die Titelspalte untersuchen, sehen wir, dass einige Autos, die eigentlich Hybrid sind, als Sonstige" aufgeführt sind.
cars[cars.fuel=="Sonstige"].title.value_counts()

title
Audi Q3 45 TFSIe Sline*Alcantara*Komfortschlüssel*20Zoll*M      3
Volkswagen T-Roc T-ROC 1.5 TSI DSG                              3
BMW 520 e Touring Aut. M Sport *NEU bei BMW Hofmann*            3
Ford Kuga Plug-In Hybrid ST-Line X/Kamera/ACC                   2
Audi A1 citycarver 35 TFSI S-tronic SONOS/LED/NAVI+/KAMERA      2
                                                               ..
Ford Kuga 2.5 Duratec PHEV Plug-In Hybrid TITANIUM X            1
Ford Kuga 2.5 Duratec PHEV TITANIUM AHK+NAVI+DAB+iACC+WINTER    1
Ford Kuga Plug-In Hybrid Titanium X / ACC / LED                 1
Volkswagen Golf VIII 1.4 GTE eHybrid, Kamera, Navi, LED, ACC    1
Opel Crossland Elegance 1.2DIT 96kW(130PS)(AT6)                 1
Name: count, Length: 72, dtype: int64

In [142]:
cars[cars.title.str.contains("Hybrid")].fuel.value_counts()

fuel
Elektro/Benzin    1743
Benzin             534
Diesel             218
Elektro/Diesel      50
Sonstige            28
Elektro              1
- Kraftstoff         1
Name: count, dtype: int64

In [143]:
cars[(cars.fuel=="Sonstige") & (cars.title.str.contains("Hybrid"))].title.value_counts()

title
Ford Kuga Plug-In Hybrid ST-Line X/Kamera/ACC                                  2
Volkswagen Golf VIII 1.4 GTE eHybrid, Kamera, Navi, LED, ACC                   1
Opel Astra Plug-In-Hybrid GS Line                                              1
Opel Grandland X Plug-in-Hybrid4 1.6 DI Start/Stop Aut INNOVATION              1
Opel Grandland X Ultimate 1.6 Hybrid4 *AHK*Garantie*8 Reifen*                  1
Opel Grandland X Plug-in-Hybrid4 Edition +UMFANGREICHE AUSSTATTUNG+            1
Opel Grandland X 1.6 Turbo Hybrid Elegance (EURO 6d)                           1
Opel Grandland X Ultimate Plug-in-Hybrid 4                                     1
Opel Grandland X Ultimate Plug-in-Hybrid-Leder, LED, Navi,                     1
Opel Grandland X 1.6 Turbo Hybrid Ultimate (EURO 6d)                           1
Opel Grandland Hybrid GSe 1.6DIT AWD 221kW(300PS)(AT)                          1
Opel Grandland Plug-in-Hybrid Ultimate *AUTOMATIK*RFK*SHZ*...                  1
Opel Grandland Hybrid Ultimate 1.6 Turbo 225                                   1
Opel Astra Plug-In-Hybrid GS Line Navi, 360 Kamera,...                         1
Ford Kuga Plug-In Hybrid ST-Line X*Pano*19 Zoll*Head Up*                       1
Volkswagen Golf GTE eHybrid/LED Plus/Navi/AHK                                  1
Ford Kuga Plug-In Hybrid ST-Line X LED+iACC+STYLING-P+WINTER                   1
Ford Kuga Plug-In Hybrid Vignale / HeadUp / B&O                                1
Ford Kuga Plug-In Hybrid Vignale/LED/Kamera                                    1
Ford Kuga 2.5 Duratec Plug in Hybrid Elektro ST-LINE X                         1
Ford Kuga Plug-In Hybrid Titanium X / ACC / LED                                1
Ford Kuga 2.5 Duratec PHEV Plug-In Hybrid TITANIUM X                           1
BMW 330 330 e Touring Aut. Plug in Hybrid /Advantage                           1
Volkswagen Tiguan Life eHybrid (AX1)                                           1
Volkswagen Passat Variant Passat Variant 1.4 TSI Plug-In-Hybrid DSG GTE LED    1
Volkswagen Golf 1.4 eHybrid OPF DSG Style Navi ACC MatrixLED RFK               1
Opel Grandland X Plug-in-Hybrid4, 1.6 DI, Ultimate, -Aktionspreis-             1
Name: count, dtype: int64

In [144]:
# Ändern wir die Kraftstoffarten "Elektro/Diesel", "Elektro/Benzin" und die Kraftstoffarten der Fahrzeuge, 
# die wir als Hybrid identifiziert haben, in Hybrid.
cars.fuel = cars.apply((lambda row: "Hybrid" if "Hybrid" in row["title"] else row["fuel"]), axis=1)
cars.fuel = cars.fuel.apply(lambda x: "Hybrid" if x in ["Elektro/Diesel", "Elektro/Benzin"] else x)
cars.fuel.value_counts()

fuel
Benzin          65687
Diesel          49944
Hybrid           7320
Gas               256
Elektro           166
Sonstige           53
- Kraftstoff       11
Name: count, dtype: int64

In [145]:
# Versuchen wir, ein weiteres Muster zu erkennen und die Daten in der Spalte ein wenig zu korrigieren.
cars[cars.fuel=="Sonstige"].title.value_counts()

title
Audi Q3 45 TFSIe Sline*Alcantara*Komfortschlüssel*20Zoll*M       3
Volkswagen T-Roc T-ROC 1.5 TSI DSG                               3
BMW 520 e Touring Aut. M Sport *NEU bei BMW Hofmann*             3
BMW 530 e Touring, Business Package, elektr. AHK, Connecte       2
Audi A1 citycarver 35 TFSI S-tronic SONOS/LED/NAVI+/KAMERA       2
Volkswagen Golf Golf VII Lim. 1.5 TSI Highline #LED#AHK#ACC#     1
Opel Astra Ultimate PHeV 1.6T 132 kW(180 PS)(AT8)                1
Ford Kuga 2.5 Duratec PHEV TITANIUM AHK+NAVI+DAB+iACC+WINTER     1
Ford Kuga 2.5 Duratec PHEV ST-LINE X; Kamera;Sitzheizung v+h     1
Ford Kuga 2.5 Duratec PHEV Titanium CVT+AHK                      1
Ford Kuga ST LINE X                                              1
Ford Kuga 2.5 Duratec PHEV TITANIUM                              1
Ford Kuga Kuga 2.5 Duratec PHEV ST-LINE X                        1
Ford Kuga Kuga 2.5 PHEV TITANIUM Plug in Navi Allwetter Sh       1
Opel Astra Elegance PHeV 1.6T 133kW(180PS)(AT8)                  1
Opel Astra Elegance 1.2Turbo 96kW(130PS)(MT6)                    1
Opel Astra Ultimate PHeV 133kW(180PS) 1.6T(AT8)                  1
Ford EcoSport 1.0 EcoBoost ST-LINE                               1
Opel Corsa 3T 1,4 Edition*CarPlay,SHZ,PDC*                       1
Opel Insignia ST Ultimate 2.0D 147kW(200PS)(AT9)                 1
Opel Mokka , ULTIMATE 1.2 Direct Injection Turbo, 96kW ( Ulti    1
Opel Mokka Ultimate 1.2DIT 96kW(130PS)(AT8)                      1
Opel Grandland Grandland GSE 4x4, Wireless Charging,             1
Opel Grandland X ELEGANCE PHEV AWD +BI-COLOR+LED-MATRIX          1
Ford Focus 1,0 EcoBoost 92kW Cool & Conn. Tur. Auto              1
Audi Q3 45 TFSIe Sportback S tronic line                         1
Audi Q3 45 TFSIe Sportback S tronic  (AHK, ACC, 5J. ...)         1
Audi A3 Sportback Attraction/Automatik/CNG/Benzin                1
Volkswagen Golf 1.2 TSI 63kW BMT CUP NAVI                        1
Volkswagen Polo 1.0 TGI "Highline"                               1
BMW 330 e M Sport Plug in 19 Zoll AHK H/K HuD Laser DAB          1
BMW 330 330e Touring xDrive*M-Paket*Laser*PaDa*Top               1
BMW 530 530e xDrive Touring Aut. M Sportpaket                    1
Audi A3 sportback, e-tron, sport, AHK, Kamera                    1
Audi A3 A3 45 TFSIe Sportback S tronic S line                    1
Audi A3 45 Tfsi e S-line B&O LED-Matrix ACC Anhängerkup          1
Volkswagen Golf 1.5 TSI ACT OPF BlueM. Highline Variant          1
Audi A3 A3 40 TFSIe Sportback S tronic S line                    1
Audi A4 Avant 40 g-tron 2.0/Prof Navi/Kamera/Garantie            1
Audi A6 Avant 55 TFSIe quattro - Vollausstattung                 1
Audi A7 Sportback 45 TFSI NAVI,SHZ,LED UPE 64.330,-              1
Audi A8 60 e quattro *Laser*HUD*STHZG*Voll*                      1
Audi Q5 55 TFSI e quattro S line Matrix Navi B&O ACC             1
Audi Q3 45 TFSIe Sportback S tronic                              1
Opel Crossland Elegance 1.2DIT 96kW(130PS)(AT6)                  1
Name: count, dtype: int64

* <font color="lightgreen" size="4">Der Ausdruck "e" erregt hier unsere Aufmerksamkeit. Im Internet haben wir festgestellt, dass BMW 530e, 330e usw. Hybridfahrzeuge sind. Daher können wir diesen Ausdruck verwenden und die Kraftstoffarten dieser Fahrzeuge als Hybrid bezeichnen.</font>

In [146]:
cars[cars.title.str.contains(" e ") & (cars.fuel=="Hybrid")].Model.value_counts()

Model
q5      294
a3      146
a6      138
q3       84
a7       66
a8       55
q7       40
x5       14
x3        8
x1        6
golf      3
330       3
530       2
x2        2
520       1
Name: count, dtype: int64

In [147]:
cars[cars.title.str.contains(" e ") & (cars.fuel=="Sonstige")].Model.value_counts()

Model
a3    1
a8    1
q5    1
Name: count, dtype: int64

In [148]:
cars.loc[(cars["title"].str.contains(" e ")) & (cars["fuel"] == "Sonstige"), "fuel"] = "Hybrid" # loc fonksiyonu içinde sağlanan hücreleri Hybride çeviriyor.
cars.fuel.value_counts(dropna=0)

fuel
Benzin          65687
Diesel          49944
Hybrid           7323
Gas               256
Elektro           166
Sonstige           50
- Kraftstoff       11
Name: count, dtype: int64

In [149]:
cars[cars.fuel=="Sonstige"].title.value_counts()

title
Volkswagen T-Roc T-ROC 1.5 TSI DSG                               3
Audi Q3 45 TFSIe Sline*Alcantara*Komfortschlüssel*20Zoll*M       3
BMW 520 e Touring Aut. M Sport *NEU bei BMW Hofmann*             3
BMW 530 e Touring, Business Package, elektr. AHK, Connecte       2
Audi A1 citycarver 35 TFSI S-tronic SONOS/LED/NAVI+/KAMERA       2
Volkswagen Golf Golf VII Lim. 1.5 TSI Highline #LED#AHK#ACC#     1
Opel Astra Elegance 1.2Turbo 96kW(130PS)(MT6)                    1
Ford Kuga 2.5 Duratec PHEV Titanium CVT+AHK                      1
Ford Kuga ST LINE X                                              1
Ford Kuga 2.5 Duratec PHEV TITANIUM                              1
Ford Kuga Kuga 2.5 Duratec PHEV ST-LINE X                        1
Ford Kuga Kuga 2.5 PHEV TITANIUM Plug in Navi Allwetter Sh       1
Opel Astra Ultimate PHeV 1.6T 132 kW(180 PS)(AT8)                1
Opel Corsa 3T 1,4 Edition*CarPlay,SHZ,PDC*                       1
Opel Astra Ultimate PHeV 133kW(180PS) 1.6T(AT8)                  1
Opel Astra Elegance PHeV 1.6T 133kW(180PS)(AT8)                  1
Ford Kuga 2.5 Duratec PHEV TITANIUM AHK+NAVI+DAB+iACC+WINTER     1
Opel Insignia ST Ultimate 2.0D 147kW(200PS)(AT9)                 1
Opel Mokka , ULTIMATE 1.2 Direct Injection Turbo, 96kW ( Ulti    1
Opel Mokka Ultimate 1.2DIT 96kW(130PS)(AT8)                      1
Opel Grandland Grandland GSE 4x4, Wireless Charging,             1
Opel Grandland X ELEGANCE PHEV AWD +BI-COLOR+LED-MATRIX          1
Ford Kuga 2.5 Duratec PHEV ST-LINE X; Kamera;Sitzheizung v+h     1
Audi Q3 45 TFSIe Sportback S tronic  (AHK, ACC, 5J. ...)         1
Ford Focus 1,0 EcoBoost 92kW Cool & Conn. Tur. Auto              1
Ford EcoSport 1.0 EcoBoost ST-LINE                               1
Volkswagen Golf 1.2 TSI 63kW BMT CUP NAVI                        1
Volkswagen Polo 1.0 TGI "Highline"                               1
BMW 330 e M Sport Plug in 19 Zoll AHK H/K HuD Laser DAB          1
BMW 330 330e Touring xDrive*M-Paket*Laser*PaDa*Top               1
BMW 530 530e xDrive Touring Aut. M Sportpaket                    1
Audi A3 sportback, e-tron, sport, AHK, Kamera                    1
Audi A3 A3 45 TFSIe Sportback S tronic S line                    1
Audi A3 Sportback Attraction/Automatik/CNG/Benzin                1
Audi A3 A3 40 TFSIe Sportback S tronic S line                    1
Audi A4 Avant 40 g-tron 2.0/Prof Navi/Kamera/Garantie            1
Audi A6 Avant 55 TFSIe quattro - Vollausstattung                 1
Audi A7 Sportback 45 TFSI NAVI,SHZ,LED UPE 64.330,-              1
Audi Q3 45 TFSIe Sportback S tronic                              1
Audi Q3 45 TFSIe Sportback S tronic line                         1
Volkswagen Golf 1.5 TSI ACT OPF BlueM. Highline Variant          1
Opel Crossland Elegance 1.2DIT 96kW(130PS)(AT6)                  1
Name: count, dtype: int64

In [150]:
pattern = r"\b(330[ ]?e|530[ ]?e|520[ ]?e)\b"
cars.loc[cars["title"].str.contains(pattern, flags=re.IGNORECASE), "fuel"] = "Hybrid"
# flags=re.IGNORECASE" schaltet die Unterscheidung zwischen Groß- und Kleinschreibung aus.
cars.fuel.value_counts()

fuel
Benzin          65686
Diesel          49944
Hybrid           7326
Gas               256
Elektro           166
Sonstige           48
- Kraftstoff       11
Name: count, dtype: int64

In [151]:
cars[cars.fuel=="Sonstige"].title.value_counts()

title
Volkswagen T-Roc T-ROC 1.5 TSI DSG                               3
Audi Q3 45 TFSIe Sline*Alcantara*Komfortschlüssel*20Zoll*M       3
BMW 520 e Touring Aut. M Sport *NEU bei BMW Hofmann*             3
BMW 530 e Touring, Business Package, elektr. AHK, Connecte       2
Audi A1 citycarver 35 TFSI S-tronic SONOS/LED/NAVI+/KAMERA       2
Volkswagen Golf Golf VII Lim. 1.5 TSI Highline #LED#AHK#ACC#     1
Opel Astra Ultimate PHeV 133kW(180PS) 1.6T(AT8)                  1
Ford Kuga ST LINE X                                              1
Ford Kuga 2.5 Duratec PHEV TITANIUM                              1
Ford Kuga Kuga 2.5 Duratec PHEV ST-LINE X                        1
Ford Kuga Kuga 2.5 PHEV TITANIUM Plug in Navi Allwetter Sh       1
Opel Astra Ultimate PHeV 1.6T 132 kW(180 PS)(AT8)                1
Opel Astra Elegance 1.2Turbo 96kW(130PS)(MT6)                    1
Opel Corsa 3T 1,4 Edition*CarPlay,SHZ,PDC*                       1
Opel Astra Elegance PHeV 1.6T 133kW(180PS)(AT8)                  1
Ford Kuga 2.5 Duratec PHEV ST-LINE X; Kamera;Sitzheizung v+h     1
Opel Insignia ST Ultimate 2.0D 147kW(200PS)(AT9)                 1
Opel Mokka , ULTIMATE 1.2 Direct Injection Turbo, 96kW ( Ulti    1
Opel Mokka Ultimate 1.2DIT 96kW(130PS)(AT8)                      1
Opel Grandland Grandland GSE 4x4, Wireless Charging,             1
Opel Grandland X ELEGANCE PHEV AWD +BI-COLOR+LED-MATRIX          1
Ford Kuga 2.5 Duratec PHEV Titanium CVT+AHK                      1
Ford EcoSport 1.0 EcoBoost ST-LINE                               1
Ford Kuga 2.5 Duratec PHEV TITANIUM AHK+NAVI+DAB+iACC+WINTER     1
Audi A3 A3 40 TFSIe Sportback S tronic S line                    1
Volkswagen Golf 1.2 TSI 63kW BMT CUP NAVI                        1
Volkswagen Polo 1.0 TGI "Highline"                               1
BMW 330 e M Sport Plug in 19 Zoll AHK H/K HuD Laser DAB          1
Audi A3 sportback, e-tron, sport, AHK, Kamera                    1
Audi A3 A3 45 TFSIe Sportback S tronic S line                    1
Audi A3 Sportback Attraction/Automatik/CNG/Benzin                1
Audi A4 Avant 40 g-tron 2.0/Prof Navi/Kamera/Garantie            1
Ford Focus 1,0 EcoBoost 92kW Cool & Conn. Tur. Auto              1
Audi A6 Avant 55 TFSIe quattro - Vollausstattung                 1
Audi A7 Sportback 45 TFSI NAVI,SHZ,LED UPE 64.330,-              1
Audi Q3 45 TFSIe Sportback S tronic                              1
Audi Q3 45 TFSIe Sportback S tronic line                         1
Audi Q3 45 TFSIe Sportback S tronic  (AHK, ACC, 5J. ...)         1
Volkswagen Golf 1.5 TSI ACT OPF BlueM. Highline Variant          1
Opel Crossland Elegance 1.2DIT 96kW(130PS)(AT6)                  1
Name: count, dtype: int64

* <font color="lightgreen" size="4">Als wir diese Fahrzeuge untersuchten, konnten wir keine besonderen Merkmale feststellen,<br> so dass diese Fahrzeuge alle Benzin, Elektro, Hybrid oder Diesel sein können. Aus diesem Grund haben wir diese Werte nanisiert.<br> Wir werden Werte wie Modell, ab, etc. als Basis nehmen und diese Spalte auf diese Weise füllen.<br> Da die Zeilen mit dem Ausdruck Kraftstoff in der gleichen Situation sind, werden wir den gleichen Prozess auf diese Zeilen anwenden.</font>

In [152]:
cars.fuel = cars.fuel.replace({"Sonstige": np.nan, "- Kraftstoff": np.nan})
cars.fuel.value_counts(dropna=0)

fuel
Benzin     65686
Diesel     49944
Hybrid      7326
Gas          256
Elektro      166
NaN           59
Name: count, dtype: int64

### <a class = "anchor" id = "kw"> Spalte KW </a>

[Home](#content)

In [153]:
cars.kw.value_counts(dropna=0)

kw
110 kW     25772
140 kW     11133
96 kW       6871
81 kW       6295
92 kW       4190
           ...
295 kW         1
211 kW         1
274 kW         1
278 kW         1
89 kW          1
Name: count, Length: 171, dtype: int64

In [154]:
cars.kw = cars.kw.apply(lambda x: re.sub(r'\D', '', x))
cars.kw.value_counts(dropna=0)

kw
110    25772
140    11133
96      6871
81      6295
92      4190
       ...
295        1
211        1
274        1
278        1
89         1
Name: count, Length: 171, dtype: int64

In [155]:
cars[cars.kw==""]

,Brand,Model,title,Price,Label,km,gearbox,registiration,fuel,kw,ps,reg_month,reg_year
90361,Mercedes-Benz,e 220,Mercedes-Benz E 220 d Kombi AMG Line*Widescree...,49900,Keine Angabe,17900,Automatik,06/2022,Diesel,,W (- PS),06,2022
103641,Volkswagen,golf,"Volkswagen Golf GTD 2.0TDI+DSG+ACC+""Black St""+...",39911,Keine Angabe,9810,Automatik,04/2022,Diesel,,W (- PS),04,2022
118384,Volkswagen,golf gti,Volkswagen Golf GTI 8 2.0 TSI DSG ALU 18 H+K NAVI,39950,Keine Angabe,100,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
118403,Volkswagen,golf gti,Volkswagen Golf GTI 8 2.0 TSI DSG ALU 18 H+K NAVI,39950,Keine Angabe,1200,Automatik,01/2023,Benzin,,W (- PS),01,2023
150288,Volkswagen,passat variant,Volkswagen Passat Variant 2.0 TSI DSG BUSINESS...,28170,Keine Angabe,59417,Automatik,11/2019,Benzin,,W (- PS),11,2019
167757,Volkswagen,tiguan,Volkswagen Tiguan R-Line 2.0 TSI OPF DSG 4MOTI...,59095,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
199628,Volkswagen,polo,"Volkswagen Polo Style 1,0 l TSI",26090,Keine Angabe,0,Schaltgetriebe,- (Erstzulassung),Benzin,,W (- PS),0,0
220331,BMW,118,BMW 118 i,42375,Keine Angabe,0,Schaltgetriebe,- (Erstzulassung),Benzin,,W (- PS),0,0
220599,BMW,118,BMW 118 i,41505,Keine Angabe,0,Schaltgetriebe,- (Erstzulassung),Benzin,,W (- PS),0,0
220601,BMW,118,BMW 118 i,44475,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
220602,BMW,118,BMW 118 i,45865,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
222144,BMW,118,BMW 118 118i 8-Fach Klimaauto Parksensoren 1.5...,15880,Keine Angabe,67529,Schaltgetriebe,01/2018,Benzin,,W (- PS),01,2018
232280,BMW,218,BMW 218 d A Gran Coupe,44490,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
255781,BMW,330,BMW 330 d A xDrive Touring,78390,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
255798,BMW,330,BMW 330 d A xDrive Touring,87079,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
256464,BMW,330,BMW 330 d A xDrive Touring,81495,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
262775,BMW,420,BMW 420 420d A Gran Coupé,77599,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
262776,BMW,420,BMW 420 i A Cabrio,77969,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
263213,BMW,420,BMW 420 420d A Gran Coupé,57990,Keine Angabe,1000,Automatik,05/2023,Diesel,,W (- PS),05,2023
264060,BMW,420,BMW 420 420i A Gran Coupé,62409,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
264420,BMW,420,BMW 420 i A Cabrio,67995,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
264436,BMW,420,BMW 420 420d A xDrive Gran Coupé,54990,Keine Angabe,2694,Automatik,03/2023,Diesel,,W (- PS),03,2023
264440,BMW,420,BMW 420 420d A xDrive Gran Coupé,64990,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
264647,BMW,420,BMW 420 420d A Gran Coupé,59990,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
264648,BMW,420,BMW 420 i A Cabrio,81919,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
266292,BMW,420,BMW 420 i A Coupé,54795,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
266298,BMW,420,BMW 420 420i A Gran Coupé,58495,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
267423,BMW,420,BMW 420 420i A Gran Coupé,63079,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
267803,BMW,420,BMW 420 420d A Gran Coupé,66049,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
267846,BMW,420,BMW 420 420i A Gran Coupé,58149,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
267852,BMW,420,BMW 420 420d A Gran Coupé,65499,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
270732,BMW,520,BMW 520 d A Touring,77990,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
272356,BMW,520,BMW 520 i A Touring,68995,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
274552,BMW,520,BMW 520 d A xDrive Touring,69900,Keine Angabe,2996,Automatik,03/2023,Diesel,,W (- PS),03,2023
280455,BMW,530,BMW 530 d A xDrive Touring,88995,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
283161,BMW,530,BMW 530 i A xDrive Touring,83959,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
293848,BMW,x1,BMW X1 sDrive18d A,50995,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
320081,BMW,x5,BMW X5 xDrive40d A,132089,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
320860,BMW,x5,BMW X5 xDrive40d A,130159,Keine Angabe,0,Automatik,- (Erstzulassung),Diesel,,W (- PS),0,0
332497,Audi,a1,Audi A1 Sportback S line 30 TFSI 81(110) +NAVI...,31290,Keine Angabe,3000,Automatik,02/2023,Benzin,,W (- PS),02,2023
334479,Audi,a1,Audi A1 SB 35 TFSI S Tronic 2 x S Line/LED/Nav...,35990,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
357700,Audi,a4,Audi A4 Avant 3.0 TDI S4 quattro 347PK Leer AC...,59900,Keine Angabe,50103,Automatik,09/2020,Hybrid,,W (- PS),09,2020
394081,Audi,a6,Audi A6 Avant design 40 TDI Aut quatt/CAM /AHK...,34880,Keine Angabe,74373,Automatik,03/2021,Diesel,,W (- PS),03,2021
405003,Audi,a7,Audi A7 Sportback 50 TDI quattro B&O Panodak M...,56900,Keine Angabe,159980,Automatik,04/2018,Hybrid,,W (- PS),04,2018
437246,Audi,q3,Audi Q3 SB 35 TFSI S Tronic 2 x S Line/LED/SON...,52990,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
440688,Audi,q3,Audi Q3 SB 35 TFSI 2 x S Line/LED/AHK/ACC/Kame...,54990,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
442479,Audi,q3,Audi Q3 SB 35 TFSI S Tronic 2 x S Line/Matrix/...,56490,Keine Angabe,0,Automatik,- (Erstzulassung),Benzin,,W (- PS),0,0
453343,Ford,ecosport,Ford EcoSport 1.0 Ecoboost ST-Line,25850,Keine Angabe,5,Schaltgetriebe,02/2023,Benzin,,W (- PS),02,2023
477995,Ford,focus,"Ford Focus Turnier 1,5 TDCi Cool & Connect Mo...",14550,Keine Angabe,129874,Schaltgetriebe,08/2019,Diesel,,W (- PS),08,2019
538544,Opel,astra,Opel Astra K Sports Tourer Business Navi*LED*...,12650,Keine Angabe,99998,Schaltgetriebe,05/2018,Diesel,,W (- PS),05,2018
551312,Opel,corsa,Opel Corsa F GS-Line 1.2 **Allwetter/PDC/Sitzh...,18790,Keine Angabe,20553,Schaltgetriebe,01/2022,Benzin,,W (- PS),01,2022
620335,Opel,crossland,Opel Crossland X Edition **Klimaautomatik/Sitz...,14950,Keine Angabe,39921,Schaltgetriebe,11/2019,Benzin,,W (- PS),11,2019

In [156]:
# Nachdem wir die Zeichen in der Spalte verworfen haben, stellen wir fest, dass einige Zeilen völlig leer sind. 
# Ersetzen wir diese Zeilen durch Nan-Werte.
cars.kw = cars.kw.replace("", np.nan)

### <a class = "anchor" id = "ps"> Spalte PS </a>

[Home](#content)

In [157]:
cars.ps.value_counts(dropna=0)

ps
(150 PS)    25772
(190 PS)    11133
(131 PS)     6871
(110 PS)     6295
(125 PS)     4190
            ...
(401 PS)        1
(287 PS)        1
(373 PS)        1
(378 PS)        1
(121 PS)        1
Name: count, Length: 171, dtype: int64

In [158]:
# Als wir die leeren Werte in der kw-Spalte überprüft haben, haben wir gesehen, dass dieselben Zeilen in der ps-Spalte leer waren,
# Wenn wir diese Zeilen konvertieren, machen wir die nicht-numerischen Zeilen direkt zu Nan-Werten.

cars.ps = cars.ps.apply(lambda x: re.sub(r'\D', '', x) if "W (- PS)" not in x else np.nan)

***
***

# <a class = "anchor" id = "tm"> Behandlung fehlender Werte </a>

<span style="font-size: 25px;">[*Home*](#content)</span>

In [159]:
# Nachdem wir alle Spalten bereinigt haben, beginnen wir den Kampf gegen fehlende Daten.
cars.isna().sum()

Brand             0
Model             0
title             0
Price             0
Label             0
km                0
gearbox           0
registiration     0
fuel             59
kw               52
ps               52
reg_month         0
reg_year          0
dtype: int64

<font color="lightgreen" size="4">Beim Bereinigen der Daten haben wir einige Punkte gesehen und identifiziert. Zum Beispiel ist die Kraftstoffspalte mit Informationen wie dem Automodell, Sch, kW-Wert usw. verknüpft. In diesem Fall können wir folgendes tun: Wir können unsere Daten entsprechend der geeigneten Spalten gruppieren und die wenigen NaN-Werte gemäß den Werten in den gebildeten Gruppen ausfüllen.

Eine zweite Methode könnte die Bottom-Top-Auffüllungsmethode sein. Denn wenn wir die Daten abrufen, tun wir dies bereits in einer bestimmten Reihenfolge. Daher kann es vorkommen, dass die darüberliegende und die darunterliegende Zeile miteinander zusammenhängen.</font>

<font color="lightblue" size="5">Die Verwendung des k-nächste-Nachbarn (kNN) Algorithmus in den beiden oben genannten Fällen wird ein effizientes Ergebnis liefern. Wir verwenden diese Methode insbesondere für die Spalten "kw" und "ps", die numerische Werte enthalten. Wir können auch die Kraftstoffspalte kennzeichnen und mit diesem Algorithmus ausfüllen.</font>

In [160]:
from sklearn.impute import KNNImputer
# für Spalte kw and ps
nan_values = cars[["kw", "ps"]]
imputer = KNNImputer(n_neighbors=5)
car_filled = imputer.fit_transform(nan_values)

cars[['kw', 'ps']] = car_filled

cars.isna().sum()

Brand             0
Model             0
title             0
Price             0
Label             0
km                0
gearbox           0
registiration     0
fuel             59
kw                0
ps                0
reg_month         0
reg_year          0
dtype: int64

In [161]:
cars.fuel.fillna(method="bfill", inplace=True)

In [162]:
# Prüfen wir ein letztes Mal, ob sich eine Zeile wiederholt
cars.duplicated().sum()

158

In [163]:
cars.drop_duplicates(inplace=True)

In [164]:
# Werfen wir noch einen letzten Blick auf die Daten.
cars.head()

,Brand,Model,title,Price,Label,km,gearbox,registiration,fuel,kw,ps,reg_month,reg_year
0,Mercedes-Benz,a 180,Mercedes-Benz A 180 Progressive LED/Sportsitze...,25900,Guter Preis,14999,Schaltgetriebe,05/2020,Benzin,100.0,136.0,05,2020
7,Mercedes-Benz,a 180,Mercedes-Benz A 180 7G-DCT Style NAV+LED+SHZ+DAB+,24749,Sehr guter Preis,46750,Automatik,11/2019,Benzin,100.0,136.0,11,2019
8,Mercedes-Benz,a 180,"Mercedes-Benz A 180 ""Advanced"" AMG+PREMIUM+KAM...",32995,Keine Angabe,6560,Automatik,11/2022,Benzin,100.0,136.0,11,2022
9,Mercedes-Benz,a 180,"Mercedes-Benz A 180 AMG Line Limo., MBUX High ...",31500,Fairer Preis,16749,Automatik,01/2021,Benzin,100.0,136.0,01,2021
10,Mercedes-Benz,a 180,Mercedes-Benz A 180 AMG+NIGHT+KAMERA+LED+MBUX-...,33475,Keine Angabe,6900,Automatik,11/2022,Benzin,100.0,136.0,11,2022

In [165]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 123279 entries, 0 to 725148
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Brand          123279 non-null  object
 1   Model          123279 non-null  object
 2   title          123279 non-null  object
 3   Price          123279 non-null  int32
 4   Label          123279 non-null  object
 5   km             123279 non-null  int32
 6   gearbox        123279 non-null  object
 7   registiration  123279 non-null  object
 8   fuel           123279 non-null  object
 9   kw             123279 non-null  float64
 10  ps             123279 non-null  float64
 11  reg_month      123279 non-null  object
 12  reg_year       123279 non-null  object
dtypes: float64(2), int32(2), object(9)
memory usage: 12.2+ MB

<font color="lightgreen" size="4">Bei der Scraping-Operation der Daten habe ich einen Fehler gefunden, den ich für die Struktur der Website halte. Die "schadstoff" Spalte wurde falsch heruntergeladen. Aufgrund dieser Situation möchte ich die "schadstoff" Spalte entfernen und überprüfen, ob es doppelte Werte gibt.</font>

***

* <font color="lightgreen" size="4"> Wir sind mit der Datenbereinigung fertig, jetzt speichern wir die endgültigen Daten in einer neuen csv-Datei.</font>

In [166]:
cars.to_csv("cars_EDA.csv", index=False)

***
***
# <a class = "anchor" id = "auswertung"> Auswertung </a>

<span style="font-size: 25px;">[*Home*](#content)</span>

Wir haben die Datenbereinigung für die von der Auto Scout-Website gescrapten Daten abgeschlossen. Aufgrund der Struktur der Website gibt es maximal 20 Seiten mit jeweils 20 Fahrzeugdaten, um so viele Fahrzeuginformationen wie möglich zu erhalten. Wir haben festgestellt, dass es im Datensatz viele wiederholte Informationen gibt. Nach einer detaillierten EDA-Analyse wurde der Datensatz für die Verwendung mit ML-Modellen vorbereitet.